body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 320px;
  height: 100%;
  margin: 0;
  padding: 0;
  width: auto;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: normal;
  font-style: normal;
  color: #353541;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: white;
}

.button {
  color: white;
  background-color: #fb6470;
  border: none;
}

.container {
  padding: 0 15%;
  margin: 0 auto;
}

.page-main {
  position: relative;
  width: 100%;
}

.hidden {
  display: none;
}

.body__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}

.flex-wrapper {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background-color: white;
}

.heading-h2 {
  position: relative;
  font-size: 32px;
  white-space: nowrap;
}

.heading-h2--line::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  margin-top: 40px;
  width: 76px;
  height: 2px;
  background-color: #fb6470;
}

.decor::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 50%;
  top: 0;
  left: 100;
  margin-left: -2px;
  margin-top: 175px;
  background-color: #fb6470;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@-webkit-keyframes home--scrolling {
  0% {
    top: 35%;
  }
  100% {
    top: 65%;
  }
}

@keyframes home--scrolling {
  0% {
    top: 35%;
  }
  100% {
    top: 65%;
  }
}

@-webkit-keyframes skills__html {
  0% {
    width: 0%;
  }
  10% {
    width: 10%;
  }
  20% {
    width: 20%;
  }
  30% {
    width: 30%;
  }
  40% {
    width: 40%;
  }
  50% {
    width: 50%;
  }
  60% {
    width: 60%;
  }
  70% {
    width: 70%;
  }
}

@keyframes skills__html {
  0% {
    width: 0%;
  }
  10% {
    width: 10%;
  }
  20% {
    width: 20%;
  }
  30% {
    width: 30%;
  }
  40% {
    width: 40%;
  }
  50% {
    width: 50%;
  }
  60% {
    width: 60%;
  }
  70% {
    width: 70%;
  }
}

@-webkit-keyframes skills__html--content {
  0% {
    content: '0%';
  }
  10% {
    content: '10%';
  }
  20% {
    content: '20%';
  }
  30% {
    content: '30%';
  }
  40% {
    content: '40%';
  }
  50% {
    content: '50%';
  }
  60% {
    content: '60%';
  }
  70% {
    content: '70%';
  }
}

@keyframes skills__html--content {
  0% {
    content: '0%';
  }
  10% {
    content: '10%';
  }
  20% {
    content: '20%';
  }
  30% {
    content: '30%';
  }
  40% {
    content: '40%';
  }
  50% {
    content: '50%';
  }
  60% {
    content: '60%';
  }
  70% {
    content: '70%';
  }
}

@-webkit-keyframes skills__css {
  0% {
    width: 0%;
  }
  10% {
    width: 10%;
  }
  20% {
    width: 20%;
  }
  30% {
    width: 30%;
  }
  40% {
    width: 40%;
  }
  50% {
    width: 50%;
  }
  60% {
    width: 60%;
  }
}

@keyframes skills__css {
  0% {
    width: 0%;
  }
  10% {
    width: 10%;
  }
  20% {
    width: 20%;
  }
  30% {
    width: 30%;
  }
  40% {
    width: 40%;
  }
  50% {
    width: 50%;
  }
  60% {
    width: 60%;
  }
}

@-webkit-keyframes skills__css--content {
  0% {
    content: '0%';
  }
  10% {
    content: '10%';
  }
  20% {
    content: '20%';
  }
  30% {
    content: '30%';
  }
  40% {
    content: '40%';
  }
  50% {
    content: '50%';
  }
  60% {
    content: '60%';
  }
}

@keyframes skills__css--content {
  0% {
    content: '0%';
  }
  10% {
    content: '10%';
  }
  20% {
    content: '20%';
  }
  30% {
    content: '30%';
  }
  40% {
    content: '40%';
  }
  50% {
    content: '50%';
  }
  60% {
    content: '60%';
  }
}

@-webkit-keyframes skills__scss {
  0% {
    width: 0%;
  }
  10% {
    width: 10%;
  }
  20% {
    width: 20%;
  }
  30% {
    width: 30%;
  }
  40% {
    width: 40%;
  }
  45% {
    width: 45%;
  }
}

@keyframes skills__scss {
  0% {
    width: 0%;
  }
  10% {
    width: 10%;
  }
  20% {
    width: 20%;
  }
  30% {
    width: 30%;
  }
  40% {
    width: 40%;
  }
  45% {
    width: 45%;
  }
}

@-webkit-keyframes skills__scss--content {
  0% {
    content: '0%';
  }
  10% {
    content: '10%';
  }
  20% {
    content: '20%';
  }
  30% {
    content: '30%';
  }
  40% {
    content: '40%';
  }
  45% {
    content: '45%';
  }
}

@keyframes skills__scss--content {
  0% {
    content: '0%';
  }
  10% {
    content: '10%';
  }
  20% {
    content: '20%';
  }
  30% {
    content: '30%';
  }
  40% {
    content: '40%';
  }
  45% {
    content: '45%';
  }
}

@-webkit-keyframes skills__javascript {
  0% {
    width: 0%;
  }
  10% {
    width: 10%;
  }
  20% {
    width: 20%;
  }
  25% {
    width: 25%;
  }
}

@keyframes skills__javascript {
  0% {
    width: 0%;
  }
  10% {
    width: 10%;
  }
  20% {
    width: 20%;
  }
  25% {
    width: 25%;
  }
}

@-webkit-keyframes skills__javascript--content {
  0% {
    content: '0%';
  }
  10% {
    content: '10%';
  }
  20% {
    content: '20%';
  }
  25% {
    content: '25%';
  }
}

@keyframes skills__javascript--content {
  0% {
    content: '0%';
  }
  10% {
    content: '10%';
  }
  20% {
    content: '20%';
  }
  25% {
    content: '25%';
  }
}

@-webkit-keyframes skills__react {
  0% {
    width: 0%;
  }
}

@keyframes skills__react {
  0% {
    width: 0%;
  }
}

@-webkit-keyframes skills__react--content {
  0% {
    content: '0%';
  }
}

@keyframes skills__react--content {
  0% {
    content: '0%';
  }
}

@-webkit-keyframes skills__photoshop {
  0% {
    width: 0%;
  }
  10% {
    width: 10%;
  }
  20% {
    width: 20%;
  }
  30% {
    width: 30%;
  }
  40% {
    width: 40%;
  }
  50% {
    width: 50%;
  }
  60% {
    width: 60%;
  }
  70% {
    width: 70%;
  }
  80% {
    width: 80%;
  }
  90% {
    width: 90%;
  }
  100% {
    width: 100%;
  }
}

@keyframes skills__photoshop {
  0% {
    width: 0%;
  }
  10% {
    width: 10%;
  }
  20% {
    width: 20%;
  }
  30% {
    width: 30%;
  }
  40% {
    width: 40%;
  }
  50% {
    width: 50%;
  }
  60% {
    width: 60%;
  }
  70% {
    width: 70%;
  }
  80% {
    width: 80%;
  }
  90% {
    width: 90%;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes skills__photoshop--content {
  0% {
    content: '0%';
  }
  10% {
    content: '10%';
  }
  20% {
    content: '20%';
  }
  30% {
    content: '30%';
  }
  40% {
    content: '40%';
  }
  50% {
    content: '50%';
  }
  60% {
    content: '60%';
  }
  70% {
    content: '70%';
  }
  80% {
    content: '80%';
  }
  90% {
    content: '90%';
  }
  100% {
    content: '100%';
  }
}

@keyframes skills__photoshop--content {
  0% {
    content: '0%';
  }
  10% {
    content: '10%';
  }
  20% {
    content: '20%';
  }
  30% {
    content: '30%';
  }
  40% {
    content: '40%';
  }
  50% {
    content: '50%';
  }
  60% {
    content: '60%';
  }
  70% {
    content: '70%';
  }
  80% {
    content: '80%';
  }
  90% {
    content: '90%';
  }
  100% {
    content: '100%';
  }
}

@-webkit-keyframes skills__jira {
  0% {
    width: 0%;
  }
  10% {
    width: 10%;
  }
  20% {
    width: 20%;
  }
  30% {
    width: 30%;
  }
  40% {
    width: 40%;
  }
  50% {
    width: 50%;
  }
  60% {
    width: 60%;
  }
  70% {
    width: 70%;
  }
  80% {
    width: 80%;
  }
  85% {
    width: 85%;
  }
}

@keyframes skills__jira {
  0% {
    width: 0%;
  }
  10% {
    width: 10%;
  }
  20% {
    width: 20%;
  }
  30% {
    width: 30%;
  }
  40% {
    width: 40%;
  }
  50% {
    width: 50%;
  }
  60% {
    width: 60%;
  }
  70% {
    width: 70%;
  }
  80% {
    width: 80%;
  }
  85% {
    width: 85%;
  }
}

@-webkit-keyframes skills__jira--content {
  0% {
    content: '0%';
  }
  10% {
    content: '10%';
  }
  20% {
    content: '20%';
  }
  30% {
    content: '30%';
  }
  40% {
    content: '40%';
  }
  50% {
    content: '50%';
  }
  60% {
    content: '60%';
  }
  70% {
    content: '70%';
  }
  80% {
    content: '80%';
  }
  85% {
    content: '8%';
  }
}

@keyframes skills__jira--content {
  0% {
    content: '0%';
  }
  10% {
    content: '10%';
  }
  20% {
    content: '20%';
  }
  30% {
    content: '30%';
  }
  40% {
    content: '40%';
  }
  50% {
    content: '50%';
  }
  60% {
    content: '60%';
  }
  70% {
    content: '70%';
  }
  80% {
    content: '80%';
  }
  85% {
    content: '8%';
  }
}

@-webkit-keyframes skills__github {
  0% {
    width: 0%;
  }
  10% {
    width: 10%;
  }
  20% {
    width: 20%;
  }
  30% {
    width: 30%;
  }
  40% {
    width: 40%;
  }
  50% {
    width: 50%;
  }
  60% {
    width: 60%;
  }
  70% {
    width: 70%;
  }
  75% {
    width: 75%;
  }
}

@keyframes skills__github {
  0% {
    width: 0%;
  }
  10% {
    width: 10%;
  }
  20% {
    width: 20%;
  }
  30% {
    width: 30%;
  }
  40% {
    width: 40%;
  }
  50% {
    width: 50%;
  }
  60% {
    width: 60%;
  }
  70% {
    width: 70%;
  }
  75% {
    width: 75%;
  }
}

@-webkit-keyframes skills__github--content {
  0% {
    content: '0%';
  }
  10% {
    content: '10%';
  }
  20% {
    content: '20%';
  }
  30% {
    content: '30%';
  }
  40% {
    content: '40%';
  }
  50% {
    content: '50%';
  }
  60% {
    content: '60%';
  }
  70% {
    content: '70%';
  }
  75% {
    content: '75%';
  }
}

@keyframes skills__github--content {
  0% {
    content: '0%';
  }
  10% {
    content: '10%';
  }
  20% {
    content: '20%';
  }
  30% {
    content: '30%';
  }
  40% {
    content: '40%';
  }
  50% {
    content: '50%';
  }
  60% {
    content: '60%';
  }
  70% {
    content: '70%';
  }
  75% {
    content: '75%';
  }
}

@-webkit-keyframes skills__testing {
  0% {
    width: 0%;
  }
  10% {
    width: 10%;
  }
  20% {
    width: 20%;
  }
  30% {
    width: 30%;
  }
  40% {
    width: 40%;
  }
  50% {
    width: 50%;
  }
  60% {
    width: 60%;
  }
  70% {
    width: 70%;
  }
  80% {
    width: 80%;
  }
  90% {
    width: 90%;
  }
  95% {
    width: 95%;
  }
}

@keyframes skills__testing {
  0% {
    width: 0%;
  }
  10% {
    width: 10%;
  }
  20% {
    width: 20%;
  }
  30% {
    width: 30%;
  }
  40% {
    width: 40%;
  }
  50% {
    width: 50%;
  }
  60% {
    width: 60%;
  }
  70% {
    width: 70%;
  }
  80% {
    width: 80%;
  }
  90% {
    width: 90%;
  }
  95% {
    width: 95%;
  }
}

@-webkit-keyframes skills__testing--content {
  0% {
    content: '0%';
  }
  10% {
    content: '10%';
  }
  20% {
    content: '20%';
  }
  30% {
    content: '30%';
  }
  40% {
    content: '40%';
  }
  50% {
    content: '50%';
  }
  60% {
    content: '60%';
  }
  70% {
    content: '70%';
  }
  80% {
    content: '80%';
  }
  90% {
    content: '90%';
  }
  95% {
    content: '95%';
  }
}

@keyframes skills__testing--content {
  0% {
    content: '0%';
  }
  10% {
    content: '10%';
  }
  20% {
    content: '20%';
  }
  30% {
    content: '30%';
  }
  40% {
    content: '40%';
  }
  50% {
    content: '50%';
  }
  60% {
    content: '60%';
  }
  70% {
    content: '70%';
  }
  80% {
    content: '80%';
  }
  90% {
    content: '90%';
  }
  95% {
    content: '95%';
  }
}

.page-header {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  max-width: 370px;
  min-width: 370px;
  background-color: #353541;
  color: white;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: all 1.5s ease 0s;
  -o-transition: all 1.5s ease 0s;
  transition: all 1.5s ease 0s;
}

.page-header.active {
  position: relative;
  max-width: 0px;
  min-width: 0px;
  -webkit-transition: all 1.5s ease 0s;
  -o-transition: all 1.5s ease 0s;
  transition: all 1.5s ease 0s;
}

.main-nav__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: fixed;
  width: 370px;
  top: 0;
  left: 0;
  background-color: #353541;
}

.main-nav__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: end;
  align-content: flex-end;
  padding-left: 30px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1e1e25), to(#2d2d39));
  background-image: -webkit-linear-gradient(bottom, #1e1e25, #2d2d39);
  background-image: -o-linear-gradient(bottom, #1e1e25, #2d2d39);
  background-image: linear-gradient(to top, #1e1e25, #2d2d39);
}

.description__name {
  font-size: 30px;
  padding-right: 20px;
  line-height: 36px;
  padding-bottom: 5px;
  margin: 170px 0 0;
}

.description__profession {
  margin: 0 0 20px 0;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.list__item {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px 30px;
  font-size: 20px;
  height: 60px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.list__item:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1e1e25), to(#2d2d39));
  background-image: -webkit-linear-gradient(top, #1e1e25, #2d2d39);
  background-image: -o-linear-gradient(top, #1e1e25, #2d2d39);
  background-image: linear-gradient(to bottom, #1e1e25, #2d2d39);
}

.description__img {
  position: absolute;
  border-radius: 50%;
  margin-top: 30px;
  width: 120px;
}

.home {
  display: inline-block;
  width: 100%;
  background-color: #353541;
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.5))), url("../img/home/1.jpg");
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("../img/home/1.jpg");
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("../img/home/1.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("../img/home/1.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.home__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: -140px;
  color: white;
}

.home__name {
  position: relative;
  font-size: 50px;
  padding-top: 25px;
  margin: 0 auto;
  margin-bottom: 25px;
  width: 100%;
}

.home__name::before,
.home__name::after {
  content: "";
  position: absolute;
  width: 100%;
  max-width: 60%;
  text-align: center;
  height: 2px;
  top: 0;
  left: 50%;
  margin-left: -30%;
  background-color: #fb6470;
}

.home__name::before {
  top: 0;
  margin-bottom: 10px;
}

.home__name::after {
  margin-top: 80px;
}

.home__profession {
  font-size: 20px;
  margin-bottom: 40px;
}

.button--home {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  border-radius: 10px;
  width: 200px;
  height: 55px;
  font-size: 22px;
  -webkit-transition: all 3s ease 0s;
  -o-transition: all 3s ease 0s;
  transition: all 3s ease 0s;
  border: none;
}

.button--home:focus {
  outline: none;
}

.button--home .button__item {
  opacity: 0;
}

.button--home .button--home__name {
  margin: 0;
  padding: 0;
}

.button--active {
  -ms-flex-item-align: center;
  align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 200px;
  height: 55px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-transition: all 2s ease 0s;
  -o-transition: all 2s ease 0s;
  transition: all 2s ease 0s;
}

.button--active:focus {
  outline: none;
}

.button--active .button--home__name {
  font-size: 0;
}

.button__item {
  width: 40px;
  height: 40px;
  text-align: center;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 3s ease 0s;
  -o-transition: all 3s ease 0s;
  transition: all 3s ease 0s;
}

.button__item--telegram {
  background-image: url(../img/modal/telegram.svg);
}

.button__item--viber {
  background-image: url(../img/modal/viber.svg);
}

.button__item--mobile {
  background-image: url(../img/modal/mobile.svg);
}

.button__item:hover {
  padding: 2px;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.scrolling--decor {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  content: "";
  width: 20px;
  height: 35px;
  left: 50%;
  margin-left: -10px;
  margin-top: -50px;
  border: 2px solid white;
  border-radius: 40%;
}

.scrolling--decor::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  background-color: white;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin-top: -2px;
  margin-left: -2px;
  -webkit-animation-name: home--scrolling;
  animation-name: home--scrolling;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.about-me {
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  background-color: #f9f9f9;
  padding-bottom: 50px;
}

.about-me__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 25px;
}

.about-me__item:nth-child(1) {
  max-width: 55%;
  text-align: start;
}

.about-me__image {
  margin-left: 50px;
}

.about-me__image img {
  padding-top: 25px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.about-me__description {
  margin: 40px 0 50px;
}

.about-me__table {
  display: inline-block;
  border-collapse: collapse;
  color: #545454;
}

.about-me__table a {
  color: #545454;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(251, 100, 112, 0.5);
}

.about-me__table a:hover {
  color: #fb6470;
}

.info__name, .info__value {
  border-bottom: 1px solid #f2f2f2;
  padding: 10px;
  background-color: white;
}

.info__name {
  font-weight: 600;
}

.info__value {
  padding-right: 50px;
}

.skills {
  background-color: #1d1d24;
  color: white;
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.skills__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 25px;
  padding-bottom: 25px;
}

.skills__item__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-top: 25px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.skills__item {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.3%;
  padding-right: 50px;
  padding-bottom: 56px;
}

.slider__name {
  padding: 12px 0;
  white-space: nowrap;
}

.slider__level {
  position: relative;
  width: 90%;
}

.slider__level::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #b3b3b3;
}

.slider__level::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 5px;
  background-color: #fb6470;
}

.slider__percent {
  position: absolute;
  top: -14px;
  right: -45px;
}

.slider__percent::after {
  position: absolute;
  content: "0%";
  top: 0;
  right: 0;
}

.skills__html.slider__level::after {
  width: 70%;
  -webkit-animation-name: skills__html;
  animation-name: skills__html;
  -webkit-animation-duration: 3.5s;
  animation-duration: 3.5s;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}

.skills__css.slider__level::after {
  width: 60%;
  -webkit-animation-name: skills__css;
  animation-name: skills__css;
  -webkit-animation-duration: 3.5s;
  animation-duration: 3.5s;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}

.skills__scss.slider__level::after {
  width: 45%;
  -webkit-animation-name: skills__scss;
  animation-name: skills__scss;
  -webkit-animation-duration: 3.5s;
  animation-duration: 3.5s;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}

.skills__javascript.slider__level::after {
  width: 25%;
  -webkit-animation-name: skills__javascript;
  animation-name: skills__javascript;
  -webkit-animation-duration: 3.5s;
  animation-duration: 3.5s;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}

.skills__react.slider__level::after {
  width: 0%;
  -webkit-animation-name: skills__react;
  animation-name: skills__react;
  -webkit-animation-duration: 3.5s;
  animation-duration: 3.5s;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}

.skills__photoshop.slider__level::after {
  width: 100%;
  -webkit-animation-name: skills__photoshop;
  animation-name: skills__photoshop;
  -webkit-animation-duration: 3.5s;
  animation-duration: 3.5s;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}

.skills__jira.slider__level::after {
  width: 85%;
  -webkit-animation-name: skills__jira;
  animation-name: skills__jira;
  -webkit-animation-duration: 3.5s;
  animation-duration: 3.5s;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}

.skills__github.slider__level::after {
  width: 75%;
  -webkit-animation-name: skills__github;
  animation-name: skills__github;
  -webkit-animation-duration: 3.5s;
  animation-duration: 3.5s;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}

.skills__testing.slider__level::after {
  width: 95%;
  -webkit-animation-name: skills__testing;
  animation-name: skills__testing;
  -webkit-animation-duration: 3.5s;
  animation-duration: 3.5s;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}

.skills__html .slider__percent::after {
  content: "70%";
  -webkit-animation-name: skills__html--content;
  animation-name: skills__html--content;
  -webkit-animation-duration: 3.5s;
  animation-duration: 3.5s;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}

.skills__css .slider__percent::after {
  content: "60%";
  -webkit-animation-name: skills__css--content;
  animation-name: skills__css--content;
  -webkit-animation-duration: 3.5s;
  animation-duration: 3.5s;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}

.skills__scss .slider__percent::after {
  content: "45%";
  -webkit-animation-name: skills__scss--content;
  animation-name: skills__scss--content;
  -webkit-animation-duration: 3.5s;
  animation-duration: 3.5s;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}

.skills__javascript .slider__percent::after {
  content: "25%";
  -webkit-animation-name: skills__javascript--content;
  animation-name: skills__javascript--content;
  -webkit-animation-duration: 3.5s;
  animation-duration: 3.5s;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}

.skills__react .slider__percent::after {
  content: "0%";
  -webkit-animation-name: skills__react--content;
  animation-name: skills__react--content;
  -webkit-animation-duration: 3.5s;
  animation-duration: 3.5s;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}

.skills__photoshop .slider__percent::after {
  content: "100%";
  -webkit-animation-name: skills__photoshop--content;
  animation-name: skills__photoshop--content;
  -webkit-animation-duration: 3.5s;
  animation-duration: 3.5s;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}

.skills__jira .slider__percent::after {
  content: "85%";
  -webkit-animation-name: skills__jira--content;
  animation-name: skills__jira--content;
  -webkit-animation-duration: 3.5s;
  animation-duration: 3.5s;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}

.skills__github .slider__percent::after {
  content: "75%";
  -webkit-animation-name: skills__github--content;
  animation-name: skills__github--content;
  -webkit-animation-duration: 3.5s;
  animation-duration: 3.5s;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}

.skills__testing .slider__percent::after {
  content: "95%";
  -webkit-animation-name: skills__testing--content;
  animation-name: skills__testing--content;
  -webkit-animation-duration: 3.5s;
  animation-duration: 3.5s;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}

.flex-wrapper:nth-child(2n-1) {
  padding-top: 100px;
  padding-bottom: 150px;
  background-color: white;
}

.form {
  margin-right: 10%;
  width: 50%;
  padding-top: 35px;
}

.form__heading {
  font-size: 22px;
  margin: 0;
  margin-bottom: 20px;
  color: #3e3e3e;
}

.message-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 150px;
}

.form-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 50%;
  margin-right: 20px;
}

.form-item {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 200px;
}

.form-item input {
  height: 35px;
  background-position-x: 10px;
  background-position-y: 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  padding-left: 40px;
}

.form-item input,
.form-message textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #1d1d24;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  font-size: 14px;
}

.form-item input:focus,
.form-message textarea:focus {
  outline: none;
  border: 1px solid #fb6470;
}

.form-message {
  position: relative;
  width: 50%;
}

.form-message textarea {
  resize: none;
  height: 150px;
  padding: 10px;
}

#appointment-name {
  background-image: url("../img/form/name.svg");
}

#appointment-email {
  background-image: url("../img/form/email.svg");
}

#appointment-subject {
  background-image: url("../img/form/contract.svg");
}

.button--form {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  width: 95px;
  height: 35px;
  font-size: 16px;
  bottom: 0;
  right: 0;
  border-radius: 10px;
  margin-bottom: -50px;
}

.button--form:hover {
  background-color: #fa3848;
}

.button--form:focus {
  outline: none;
  border: 1px solid black;
}

.button--form:disabled {
  background-color: rgba(53, 53, 65, 0.4);
}

.form-message textarea:disabled {
  text-align: center;
  padding-top: 15px;
  font-size: 20px;
}

.contacts {
  width: 50%;
}

.contacts__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  margin-top: 8px;
}

.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.item__img {
  width: 32px;
  height: 32px;
  margin-top: 15px;
  margin-right: 45px;
}

.item__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.item__name {
  font-size: 20px;
  margin: 0;
}

.item__info {
  margin-top: 5px;
  font-size: 16px;
}

.page-footer {
  margin: 0;
  padding: 0;
}

.page-footer__wrapper {
  min-height: 130px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #1d1d24;
}

.social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
}

.list--instagram, .list__linkedin, .list__facebook {
  position: relative;
  width: 26px;
  height: 26px;
  opacity: 0.6;
}

.list--instagram:hover, .list__linkedin:hover, .list__facebook:hover {
  opacity: 1;
}

.social-networks__list:nth-child(2) {
  margin: 0 25px;
}

.social-networks__list:nth-child(2)::before,
.social-networks__list:nth-child(2)::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 100%;
  top: 0;
  background-color: white;
}

.social-networks__list:nth-child(2)::before {
  left: 0;
  margin-left: -12.5px;
}

.social-networks__list:nth-child(2)::after {
  right: 0;
  margin-right: -12.5px;
}

.experience__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 50px;
}

.work-experience {
  position: relative;
  padding-top: 25px;
  margin-right: 5%;
  width: 50%;
}

.education {
  position: relative;
  padding-top: 25px;
  width: 50%;
  margin-left: 5%;
}

.burger {
  position: fixed;
  width: 55px;
  height: 33px;
  margin-top: 80px;
  margin-left: 120px;
  top: 0;
  left: 0;
  z-index: 99;
}

.burger span {
  content: "";
  background-color: #fb6571;
  position: absolute;
  width: 100%;
  height: 5px;
  top: 42.5%;
  left: 0;
  -webkit-transition: all 1.0s ease 0s;
  -o-transition: all 1.0s ease 0s;
  transition: all 1.0s ease 0s;
}

.burger:before,
.burger:after {
  content: "";
  background-color: #fb6571;
  position: absolute;
  width: 100%;
  height: 5px;
  left: 0;
  -webkit-transition: all 2.0s ease 0s;
  -o-transition: all 2.0s ease 0s;
  transition: all 2.0s ease 0s;
}

.burger:before {
  top: 0;
}

.burger:after {
  bottom: 0;
}

.burger.active {
  position: fixed;
  width: 30px;
  height: 30px;
  margin-top: 30px;
  margin-left: 300px;
  top: 0;
  left: 0;
  -webkit-transition: all 1.0s ease 0s;
  -o-transition: all 1.0s ease 0s;
  transition: all 1.0s ease 0s;
}

.burger.active::before,
.burger.active::after {
  content: "";
  background-color: #fff;
  position: absolute;
  width: 30px;
  height: 2px;
  top: 0;
  left: 0;
  margin-top: 13px;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  z-index: 1;
}

.burger.active:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.burger.active:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.burger.active span {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.information-block {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 20px;
  color: white;
  border-radius: 15px;
  background-color: #1d1d24;
}

.info-title {
  position: relative;
  cursor: pointer;
}

.info-post {
  display: inline-block;
  font-size: 20px;
  padding-right: 20px;
  margin: 0;
}

.info-place {
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  font-weight: 500;
}

.info-time {
  padding-top: 5px;
  margin: 0;
  color: #fb6470;
}

.info-description {
  padding-top: 20px;
  margin: 0;
}

.info-wrapper {
  display: none;
}

.information-block::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  bottom: 0;
  left: 50%;
  margin-left: -8px;
  margin-bottom: -18px;
  background-image: url(../img/information-block/arrow-dark.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.information-block:hover:before {
  width: 18px;
  height: 18px;
  margin-left: -8px;
  margin-bottom: -18px;
  background-image: url(../img/information-block/arrow-red.svg);
}

.information-block:last-child::before {
  content: none;
}

.info-title::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;
  margin-top: 8px;
  background-image: url(../img/information-block/arrow2-white.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
  transition: all 0.9s ease 0s;
}

.info-title.active::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;
  background-image: url(../img/information-block/arrow2-white.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
