body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 320px;
  height: 100%;
  margin: 0;
  padding: 0;
  width: auto;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: normal;
  font-style: normal;
  color: #353541;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: white;
}

.button {
  color: white;
  background-color: #fb6470;
  border: none;
}

.container {
  padding: 0 15%;
  margin: 0 auto;
}

.body__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}

.heading-h2 {
  position: relative;
  font-size: 32px;
  white-space: nowrap;
}

.heading-h2--line::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  margin-top: 40px;
  width: 76px;
  height: 2px;
  background-color: #fb6470;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  max-width: 370px;
  min-width: 370px;
  background-color: #353541;
  color: white;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.main-nav__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: fixed;
  width: 370px;
  top: 0;
  left: 0;
  background-color: #353541;
}

.main-nav__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: end;
  align-content: flex-end;
  padding-left: 30px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#181e25), to(#3d5271));
  background-image: -webkit-linear-gradient(bottom, #181e25, #3d5271);
  background-image: -o-linear-gradient(bottom, #181e25, #3d5271);
  background-image: linear-gradient(to top, #181e25, #3d5271);
}

.description__name {
  font-size: 32px;
  padding-right: 20px;
  line-height: 36px;
  padding-bottom: 10px;
  margin: 150px 0 0 0;
}

.description__profession {
  margin: 0 0 15px 0;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.list__item {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px 30px;
  font-size: 20px;
  height: 60px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.list__item:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#364963), to(#181e25));
  background-image: -webkit-linear-gradient(bottom, #364963, #181e25);
  background-image: -o-linear-gradient(bottom, #364963, #181e25);
  background-image: linear-gradient(to top, #364963, #181e25);
}

.page-main {
  position: relative;
  width: 100%;
}

.about-me {
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  background-color: #f9f9f9;
  padding-bottom: 50px;
}

.about-me__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-top: 25px;
}

.about-me__item:nth-child(1) {
  max-width: 65%;
}

.about-me__image {
  margin-left: 50px;
}

.about-me__image img {
  padding-top: 25px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.about-me__description {
  margin: 40px 0 50px;
}

.about-me__table {
  display: inline-block;
  border-collapse: collapse;
  color: #545454;
}

.about-me__table a {
  color: #545454;
}

.info__name, .info__value {
  border-bottom: 1px solid #f2f2f2;
  padding: 10px;
  background-color: white;
}

.info__name {
  font-weight: 600;
}

.info__value {
  padding-right: 50px;
}

.home {
  display: inline-block;
  width: 100%;
  background-color: #353541;
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.5))), url("../../img/home/1.jpg");
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("../../img/home/1.jpg");
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("../../img/home/1.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("../../img/home/1.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.home__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: -100px;
  color: white;
}

.home__name {
  display: inline-block;
  position: relative;
  font-size: 50px;
  padding-top: 25px;
  margin: 0 auto;
  margin-bottom: 25px;
  width: 100%;
}

.home__name::before,
.home__name::after {
  content: "";
  position: absolute;
  width: 100%;
  max-width: 60%;
  text-align: center;
  height: 2px;
  top: 0;
  left: 50%;
  margin-left: -30%;
  background-color: #fb6470;
}

.home__name::before {
  top: 0;
  margin-bottom: 10px;
}

.home__name::after {
  margin-top: 80px;
}

.home__profession {
  font-size: 20px;
  margin-bottom: 45px;
}

.button--home {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  border-radius: 10px;
  font-size: 22px;
  padding: 15px 44px;
}

.skills {
  background-color: #1d1d24;
  color: white;
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.skills__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 25px;
}

.skills__item__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-top: 5%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.skills__item {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.3%;
  padding-right: 50px;
  padding-bottom: 56px;
}

.slider__name {
  padding: 12px 0;
  white-space: nowrap;
}

.slider__level {
  position: relative;
  width: 90%;
}

.slider__level::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #b3b3b3;
}

.slider__level::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 70%;
  height: 5px;
  background-color: #fb6470;
}

.slider__percent {
  position: absolute;
  top: -14px;
  right: -45px;
}

.slider__percent::after {
  position: absolute;
  content: "90%";
  top: 0;
  right: 0;
}

.skills__html.slider__level::after {
  width: 70%;
}

.skills__css.slider__level::after {
  width: 60%;
}

.skills__scss.slider__level::after {
  width: 45%;
}

.skills__javascript.slider__level::after {
  width: 25%;
}

.skills__react.slider__level::after {
  width: 0%;
}

.skills__photoshop.slider__level::after {
  width: 100%;
}

.skills__jira.slider__level::after {
  width: 85%;
}

.skills__github.slider__level::after {
  width: 75%;
}

.skills__testing.slider__level::after {
  width: 95%;
}

.skills__html .slider__percent::after {
  content: "70%";
}

.skills__css .slider__percent::after {
  content: "60%";
}

.skills__scss .slider__percent::after {
  content: "45%";
}

.skills__javascript .slider__percent::after {
  content: "25%";
}

.skills__react .slider__percent::after {
  content: "0%";
}

.skills__photoshop .slider__percent::after {
  content: "100%";
}

.skills__jira .slider__percent::after {
  content: "85%";
}

.skills__github .slider__percent::after {
  content: "75%";
}

.skills__testing .slider__percent::after {
  content: "95%";
}

.page-experience-wrapper {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.experience__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 50px;
}

.work-experience {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  padding-top: 25px;
  margin-right: 5%;
  width: 50%;
}

.education {
  position: relative;
  padding-top: 25px;
  width: 50%;
  margin-left: 5%;
}

.decor::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 500px;
  top: 0;
  left: 100;
  margin-left: -2px;
  margin-top: 200px;
  background-color: #fb6470;
}

.burger {
  position: fixed;
  width: 55px;
  height: 33px;
  margin-top: 46px;
  margin-left: 85px;
  top: 0;
  left: 0;
}

.burger:before,
.burger:after {
  content: "";
  background-color: #fb6571;
  position: absolute;
  width: 100%;
  height: 5px;
  left: 0;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
  transition: all 0.9s ease 0s;
}

.burger:before {
  top: 0;
}

.burger:after {
  bottom: 0;
}

.burger span {
  content: "";
  background-color: #fb6571;
  position: absolute;
  width: 100%;
  height: 5px;
  top: 42.5%;
  left: 0;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
  transition: all 0.9s ease 0s;
}

.burger.active {
  position: fixed;
  width: 30px;
  height: 30px;
  margin-top: 35px;
  margin-left: 30px;
  top: 0;
  left: 0;
}

.burger.active::before,
.burger.active::after {
  content: "";
  background-color: #fff;
  position: fixed;
  width: 30px;
  height: 2px;
  margin-top: 50px;
  margin-left: 30px;
  top: 0;
  left: 0;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  z-index: 1;
}

.burger.active:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.burger.active:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.burger.active span {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.information-block {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 20px;
  color: white;
  border-radius: 15px;
  background-color: #1d1d24;
}

.info-post {
  display: inline-block;
  font-size: 20px;
  padding-right: 20px;
  margin: 0;
}

.info-place {
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  font-weight: 500;
}

.info-time {
  padding-top: 5px;
  margin: 0;
  color: #fb6470;
}

.info-description {
  padding-top: 20px;
  margin: 0;
}

.information-block::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  bottom: 0;
  left: 50%;
  margin-left: -10px;
  margin-bottom: -20px;
  background-image: url(../../img/information-block/arrow-dark.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.information-block:hover:before {
  background-image: url(../../img/information-block/arrow-red.svg);
}

.information-block:last-child::before {
  content: none;
}
