body{
	box-sizing: border-box;
	min-width: 320px;
	height: 100%;
	margin: 0;
	padding: 0;
	width: auto;
	@include font;
}
ul{
	@include reset-list;
}
img{
	max-width: 100%;
	height: auto;
}
a{
	text-decoration: none;
	color: white;
}
.button{
	color: white;
	background-color: $bg-buttom-color;
	border: none;
}
.container{
	padding: 0 15%;
	margin: 0 auto;
}
.body__wrapper{
	display: flex;
	// max-width: 3200px;
	// margin: 0 auto; 
}
.page__wrapper{
	display: flex;
	flex-direction: column;
	width: 100%;
}
.heading-h2{
	position: relative;
	font-size: 32px;
}
.heading-h2--line::before{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	margin-top: 40px;
	width: 76px;
	height: 2px;
	background-color: $bg-buttom-color;
}
.experience__wrapper{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-wrap: wrap;
	// justify-content: space-around;
	margin-top: 45px;
}
.visually-hidden:not(:focus):not(:active) {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}