body{
	box-sizing: border-box;
	min-width: 320px;
	margin: 0;
	padding: 0;
	width: auto;
	@include font;
}

.body__wrapper{
	display: flex;
}
.page__wrapper{
	display: flex;
	flex-direction: column;
	width: 100%;
}

ul{
	@include reset-list;
}

img{
	max-width: 100%;
	height: auto;
}

a{
	text-decoration: none;
	color: white;
}

.button{
	color: white;
	background-color: $bg-buttom-color;
	border: none;
}

.visually-hidden:not(:focus):not(:active) {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
