body{
	box-sizing: border-box;
	// min-width: 768px;
	height: 100%;
	margin: 0;
	padding: 0;
	width: auto;
	@include font;
}
ul{
	@include reset-list;
}
img{
	max-width: 100%;
	height: auto;
}
a{
	text-decoration: none;
	color: white;
}
.button{
	color: white;
	background-color: $bg-buttom-color;
	border: none;
}
.container{
	padding: 0 15%;
	margin: 0 auto;
}
.page-main{
	position: relative;
	width: 100%;
}
.hidden{
	display: none;
}
.body__wrapper{
	display: flex;
}
.page__wrapper{
	display: flex;
	flex-direction: column;
	width: 100%;
}
.flex-wrapper{
	box-sizing: border-box;
	position: relative;
	display: flex;
	justify-content: space-around;
	background-color: white;
}
.heading-h2{
	position: relative;
	font-size: 32px;
	white-space: nowrap;
}
.heading-h2--line::before{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	margin-top: 40px;
	width: 76px;
	height: 2px;
	background-color: $bg-buttom-color;
}
.decor::before{
	position: absolute;
	content: "";
	width: 4px;
	height: 50%;
	top: 0;
	left: 100;
	margin-left: -2px;
	margin-top: 175px;
	background-color: $bg-buttom-color;
}
.visually-hidden:not(:focus):not(:active) {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

@media (max-width: $mobile-width){
	.flex-wrapper{
		flex-direction: column;
	}
	.container{
		padding: 0 8%;
	}
}