$minwidth: 320px;
$mobile-width: 768px;
$tablet-width: 992px;

$skills-javascript: 40%;
$skills-jquery: 45%;
$skills-react: 15%;
$skills-html: 90%;
$skills-css: 80%;
$skills-webpack: 50%;
$skills-github: 80%;
$skills-jira: 90%;
$skills-bem: 65%;
$skills-testing: 95%;
$skills-photoshop: 95%;
$skills-figma: 90%;

$font-color: #353541;

$bg-white-color: #ffffff;
$bg-gray-color: #f9f9f9;
$bg-dark-color: #1d1d24;
$bg-item-color: #353541;
$bg-buttom-color: #fb6470;