$minwidth: 320px;
$mobile-width: 480px;
$tablet-width: 992px;
// $mobile-only-width: 768px;

$font-color: #353541;

$bg-white-color: #ffffff;
$bg-gray-color: #f9f9f9;
$bg-dark-color: #1d1d24;
$bg-item-color: #353541;
$bg-buttom-color: #fb6470;