$minwidth: 320px;
$mobile-width: 480px;
$tablet-width: 992px;
// $mobile-only-width: 768px;

$skills-html: 90%;
$skills-css: 90%;
$skills-scss: 70%;
$skills-javascript: 50%;
$skills-react: 5%;
$skills-photoshop: 100%;
$skills-jira: 90%;
$skills-github: 80%;
$skills-testing: 95%;

$font-color: #353541;

$bg-white-color: #ffffff;
$bg-gray-color: #f9f9f9;
$bg-dark-color: #1d1d24;
$bg-item-color: #353541;
$bg-buttom-color: #fb6470;