@keyframes home--scrolling{
	0%{
		top: 35%;
	}
	100%{
		top: 65%;
	}
}
@keyframes home--scrolling__mobile{
	0%{
		top: 25%;
	}
	100%{
		top: 85%;
	}
}

@keyframes skills__html{
	0%{
		width: 0%;
	}
	10%{
		width: 10%;
	}
	20%{
		width: 20%;
	}
	30%{
		width: 30%;
	}
	40%{
		width: 40%;
	}
	50%{
		width: 50%;
	}
	60%{
		width: 60%;
	}
	70%{
		width: 70%;
	}
	80%{
		width: 80%;
	}
	90%{
		width: 90%;
	}
}
@keyframes skills__html--content{
	0%{
		content: '0%';
	}
	10%{
		content: '10%';
	}
	20%{
		content: '20%';
	}
	30%{
		content: '30%';
	}
	40%{
		content: '40%';
	}
	50%{
		content: '50%';
	}
	60%{
		content: '60%';
	}
	70%{
		content: '70%';
	}
	80%{
		content: '80%';
	}
	90%{
		content: '90%';
	}
}
@keyframes skills__css{
	0%{
		width: 0%;
	}
	10%{
		width: 10%;
	}
	20%{
		width: 20%;
	}
	30%{
		width: 30%;
	}
	40%{
		width: 40%;
	}
	50%{
		width: 50%;
	}
	60%{
		width: 60%;
	}
	70%{
		width: 70%;
	}
	80%{
		width: 80%;
	}
}
@keyframes skills__css--content{
	0%{
		content: '0%';
	}
	10%{
		content: '10%';
	}
	20%{
		content: '20%';
	}
	30%{
		content: '30%';
	}
	40%{
		content: '40%';
	}
	50%{
		content: '50%';
	}
	60%{
		content: '60%';
	}
	70%{
		content: '70%';
	}
	80%{
		content: '80%';
	}
}
@keyframes skills__javascript{
	0%{
		width: 0%;
	}
	10%{
		width: 10%;
	}
	20%{
		width: 20%;
	}
	30%{
		width: 30%;
	}
	40%{
		width: 40%;
	}
}
@keyframes skills__javascript--content{
	0%{
		content: '0%';
	}
	10%{
		content: '10%';
	}
	20%{
		content: '20%';
	}
	30%{
		content: '30%';
	}
	40%{
		content: '40%';
	}
}
@keyframes skills__react{
	0%{
		width: 0%;
	}
	10%{
		width: 10%;
	}
	15%{
		width: 15%;
	}
}
@keyframes skills__react--content{
	0%{
		content: '0%';
	}
	10%{
		content: '10%';
	}
	15%{
		content: '15%';
	}
}
@keyframes skills__photoshop{
	0%{
		width: 0%;
	}
	10%{
		width: 10%;
	}
	20%{
		width: 20%;
	}
	30%{
		width: 30%;
	}
	40%{
		width: 40%;
	}
	50%{
		width: 50%;
	}
	60%{
		width: 60%;
	}
	70%{
		width: 70%;
	}
	80%{
		width: 80%;
	}
	90%{
		width: 90%;
	}
	95%{
		width: 95%;
	}
}
@keyframes skills__photoshop--content{
	0%{
		content: '0%';
	}
	10%{
		content: '10%';
	}
	20%{
		content: '20%';
	}
	30%{
		content: '30%';
	}
	40%{
		content: '40%';
	}
	50%{
		content: '50%';
	}
	60%{
		content: '60%';
	}
	70%{
		content: '70%';
	}
	80%{
		content: '80%';
	}
	90%{
		content: '90%';
	}
	95%{
		content: '95%';
	}
}
@keyframes skills__jira{
	0%{
		width: 0%;
	}
	10%{
		width: 10%;
	}
	20%{
		width: 20%;
	}
	30%{
		width: 30%;
	}
	40%{
		width: 40%;
	}
	50%{
		width: 50%;
	}
	60%{
		width: 60%;
	}
	70%{
		width: 70%;
	}
	80%{
		width: 80%;
	}
	90%{
		width: 90%;
	}
}
@keyframes skills__jira--content{
	0%{
		content: '0%';
	}
	10%{
		content: '10%';
	}
	20%{
		content: '20%';
	}
	30%{
		content: '30%';
	}
	40%{
		content: '40%';
	}
	50%{
		content: '50%';
	}
	60%{
		content: '60%';
	}
	70%{
		content: '70%';
	}
	80%{
		content: '80%';
	}
	90%{
		content: '90%';
	}
}
@keyframes skills__github{
	0%{
		width: 0%;
	}
	10%{
		width: 10%;
	}
	20%{
		width: 20%;
	}
	30%{
		width: 30%;
	}
	40%{
		width: 40%;
	}
	50%{
		width: 50%;
	}
	60%{
		width: 60%;
	}
	70%{
		width: 70%;
	}
	80%{
		width: 80%;
	}
}
@keyframes skills__github--content{
	0%{
		content: '0%';
	}
	10%{
		content: '10%';
	}
	20%{
		content: '20%';
	}
	30%{
		content: '30%';
	}
	40%{
		content: '40%';
	}
	50%{
		content: '50%';
	}
	60%{
		content: '60%';
	}
	70%{
		content: '70%';
	}
	80%{
		content: '80%';
	}
}
@keyframes skills__testing{
	0%{
		width: 0%;
	}
	10%{
		width: 10%;
	}
	20%{
		width: 20%;
	}
	30%{
		width: 30%;
	}
	40%{
		width: 40%;
	}
	50%{
		width: 50%;
	}
	60%{
		width: 60%;
	}
	70%{
		width: 70%;
	}
	80%{
		width: 80%;
	}
	90%{
		width: 90%;
	}
	95%{
		width: 95%;
	}
}
@keyframes skills__testing--content{
	0%{
		content: '0%';
	}
	10%{
		content: '10%';
	}
	20%{
		content: '20%';
	}
	30%{
		content: '30%';
	}
	40%{
		content: '40%';
	}
	50%{
		content: '50%';
	}
	60%{
		content: '60%';
	}
	70%{
		content: '70%';
	}
	80%{
		content: '80%';
	}
	90%{
		content: '90%';
	}
	95%{
		content: '95%';
	}
}
@keyframes skills__bem{
	0%{
		width: 0%;
	}
	10%{
		width: 10%;
	}
	20%{
		width: 20%;
	}
	30%{
		width: 30%;
	}
	40%{
		width: 40%;
	}
	50%{
		width: 50%;
	}
	60%{
		width: 60%;
	}
	65%{
		width: 65%;
	}
}
@keyframes skills__bem--content{
	0%{
		content: '0%';
	}
	10%{
		content: '10%';
	}
	20%{
		content: '20%';
	}
	30%{
		content: '30%';
	}
	40%{
		content: '40%';
	}
	50%{
		content: '50%';
	}
	60%{
		content: '60%';
	}
	65%{
		content: '65%';
	}
}
@keyframes skills__figma{
	0%{
		width: 0%;
	}
	10%{
		width: 10%;
	}
	20%{
		width: 20%;
	}
	30%{
		width: 30%;
	}
	40%{
		width: 40%;
	}
	50%{
		width: 50%;
	}
	60%{
		width: 60%;
	}
	70%{
		width: 70%;
	}
	80%{
		width: 80%;
	}
	90%{
		width: 90%;
	}
}
@keyframes skills__figma--content{
	0%{
		content: '0%';
	}
	10%{
		content: '10%';
	}
	20%{
		content: '20%';
	}
	30%{
		content: '30%';
	}
	40%{
		content: '40%';
	}
	50%{
		content: '50%';
	}
	60%{
		content: '60%';
	}
	70%{
		content: '70%';
	}
	80%{
		content: '80%';
	}
	90%{
		content: '90%';
	}
}
@keyframes skills__jquery{
	0%{
		width: 0%;
	}
	10%{
		width: 10%;
	}
	20%{
		width: 20%;
	}
	30%{
		width: 30%;
	}
	40%{
		width: 40%;
	}
	45%{
		width: 45%;
	}
}
@keyframes skills__jquery--content{
	0%{
		content: '0%';
	}
	10%{
		content: '10%';
	}
	20%{
		content: '20%';
	}
	30%{
		content: '30%';
	}
	40%{
		content: '40%';
	}
	45%{
		content: '45%';
	}
}
@keyframes skills__webpack{
	0%{
		width: 0%;
	}
	10%{
		width: 10%;
	}
	20%{
		width: 20%;
	}
	30%{
		width: 30%;
	}
	40%{
		width: 40%;
	}
	50%{
		width: 50%;
	}
}
@keyframes skills__webpack--content{
	0%{
		content: '0%';
	}
	10%{
		content: '10%';
	}
	20%{
		content: '20%';
	}
	30%{
		content: '30%';
	}
	40%{
		content: '40%';
	}
	50%{
		content: '50%';
	}
}