.burger {
  position: fixed;
  width: 55px;
  height: 33px;
  margin-top: 80px;
  margin-left: 120px;
  top: 0;
  left: 0;
  z-index: 99;

  span {
	content: "";
	background-color: hsl(355, 95%, 69%);
	position: absolute;
	width: 100%;
	height: 5px;
	top: 42.5%;
	left: 0;
	transition: all 1.0s ease 0s;
  }
}
.burger:before,
.burger:after {
  content: "";
  background-color: hsl(355, 95%, 69%);
  position: absolute;
  width: 100%;
  height: 5px;
  left: 0;
  transition: all 2.0s ease 0s;
}
.burger:before {
  top: 0;
}
.burger:after {
  bottom: 0;
}

.burger.active {
  position: fixed;
  width: 30px;
  height: 30px;
  margin-top: 30px;
  margin-left: 300px;
  top: 0;
  left: 0;
  transition: all 1.0s ease 0s;
}
.burger.active::before,
.burger.active::after {
  content: "";
  background-color: #fff;
  position: absolute;
  width: 30px;
  height: 2px;
  top: 0;
  left: 0;
  margin-top: 13px;
  transition: none;
  z-index: 1;
  
}
.burger.active:before {
  transform: rotate(45deg);
}
.burger.active:after {
  transform: rotate(-45deg);
}
.burger.active span {
  transform: scale(0);
}
