.contacts{
	width: 50%;
}
.contacts__wrapper{
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 8px;
}
.contacts__item{
	display: flex;	
	margin-top: 30px;
}
.item__img{
	width: 32px;
	height: 32px;
	margin-top: 15px;
	margin-right: 45px;
}
.item__wrapper{
	display: flex;
	width: auto;
	flex-direction: column;
	a{
		border-bottom: 1px solid rgba(251, 100, 112, 0.5);
		transition: all 1s ease 0s;
	}
	a:hover{
		color: $bg-buttom-color;
	}
}
.item__name{
	font-size: 20px;
	margin: 0
}
.item__info{
	color: $bg-item-color;

	margin-top: 5px;
	font-size: 16px;
}

@media (max-width: $tablet-width){
	.contacts__wrapper{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		margin-top: 70px;
	}
	.contacts{
		width: 100%;
	}
	.contacts__item{
		padding: 10px 15px;
	}
	.item__img{
		margin-right: 15px;
	}
}


@media (max-width: $mobile-width){
	.contacts__wrapper{
		margin-top: 170px;
	}

	.item__img{
		margin-right: 25px;
	}
	.contacts__item{
		margin-top: 5px;
	}
}
