.page-experience-wrapper{
	box-sizing: border-box;
	position: relative;
	display: flex;
	justify-content: space-around;
}
.experience__wrapper{
	display: flex;
	flex-direction: column;
	margin-top: 50px;
}
.work-experience{
	box-sizing: border-box;
	position: relative;
	padding-top: 25px;
	margin-right: 5%;
	width: 50%;
}
.education{
	position: relative;
	padding-top: 25px;
	width: 50%;
	margin-left: 5%;
}
.decor::before{
	position: absolute;
	content: "";
	width: 4px;
	height: 500px;
	top: 0;
	left: 100;
	margin-left: -2px;
	margin-top: 200px;
	background-color: $bg-buttom-color;
}
