.experience__wrapper{
	display: flex;
	flex-direction: column;
	margin-top: 50px;
}
.work-experience{
	position: relative;
	padding-top: 25px;
	margin-right: 5%;
	width: 50%;
}
.education{
	position: relative;
	padding-top: 25px;
	width: 50%;
	margin-left: 5%;
}
