.home{
	display: inline-block;
	width: 100%;
	background-color: $font-color;
	min-height: 100vh;
	background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),url('../img/home/1.jpg');
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}
.home__wrapper{
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
	text-align: center;
	max-width: 1000px;
	margin: 0 auto;
	margin-top: -140px;
	color: white;
}
.home__name{
	position: relative;
	font-size: 50px;
	padding-top: 25px;
	margin: 0 auto;
	margin-bottom: 25px;
	width: 100%;
}
.home__name::before,
.home__name::after{
	content: "";
	position: absolute;
	width: 100%;
	max-width: 60%;
	text-align: center;
	height: 2px;
	top: 0;
	left: 50%;
	margin-left: -30%;
	background-color: $bg-buttom-color;
}
.home__name::before{
	top: 0;
	margin-bottom: 10px;
}
.home__name::after{
	margin-top: 80px;
}
.home__profession{
	font-size: 20px;
	margin-bottom: 40px;
}
.button--home{
	align-self: center;
	border-radius: 10px;
	width: 200px;
	height: 55px;
	font-size: 22px;
	transition: all 3s ease 0s;
	border: none;
	&:focus{
		outline:none;
	}
}
.button--home .button__item{
	opacity: 0;
}
.button--home .button--home__name{
	margin: 0;
	padding: 0;
}
.button--active{
	align-self: center;
	display: flex;
	align-items: center;
	width: 250px;
	height: 75px;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.2);
	transition: all 2s ease 0s;
	&:focus{
		outline:none;
	}
}
.button--active .button--home__name{
	font-size: 0;
}
.button__item{
	width: 40px;
	height: 40px;
	text-align: center;
	margin: 0 auto;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.button__item--telegram{
	background-image: url(../img/modal/telegram.svg);
}
.button__item--viber	{
	background-image: url(../img/modal/viber.svg);
}
.button__item--mobile{
	background-image: url(../img/modal/mobile.svg);
}
.button__item:hover{
	padding: 5px;
	transition: all 1s ease 0s;
}
.scrolling--decor{
	box-sizing: border-box;
	position: absolute;
	content: "";
	width: 20px;
	height: 35px;
	left: 50%;
	margin-left: -10px;
	margin-top: -50px;
	border: 2px solid white;
	border-radius: 40%;
}
.scrolling--decor::before{
	position: absolute;
	content: "";
	width: 4px;
	height: 4px;
	background-color: white;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	margin-top: -2px;
	margin-left: -2px;
	animation-name: home--scrolling;
	animation-duration: 1.5s;
	animation-direction: alternate;
	animation-timing-function: ease-in;
	animation-iteration-count: infinite;
	animation-delay: -0.5s;
}
