.information-block{
	position: relative;
	box-sizing: border-box;
	width: 48%;
	// max-width: 48%;
	// min-width: 48%;
	margin: 0 auto;
	padding: 20px;
	color: white;
	border-radius: 15px;
	background-color: $bg-dark-color;
}

.information-block:nth-child(2n-1){
	margin-right: 0;
}
.information-block:nth-child(2n){
	margin-top: -70px;
	margin-bottom: 70px;
	margin-left: 0;
}
.info-post{
	display: inline-block;
	font-size: 20px;
	padding-right: 20px;
	margin: 0;
}
.info-place{
	white-space: nowrap;
	color: rgba(255, 255, 255, 0.8);
	font-size: 18px;
	font-weight: 500;
}
.info-time{
	padding-top: 5px;
	margin: 0;
	color: $bg-buttom-color;
}
.info-description{
	padding-top: 20px;
	margin: 0;
}


.information-block:hover{
	width: 50%;
	transition: all 2s ease 0s;
	& .info-post{
		font-size: 25px;
	}
}