.information-block{
	position: relative;
	box-sizing: border-box;
	margin-bottom: 20px;
	padding: 20px;
	color: white;
	border-radius: 15px;
	background-color: $bg-dark-color;
}
.info-title{
	position: relative;
	cursor: pointer;
}
.info-post{
	display: inline-block;
	font-size: 20px;
	padding-right: 20px;
	margin: 0;
}
.info-place{
	white-space: nowrap;
	color: rgba(255, 255, 255, 0.8);
	font-size: 18px;
	font-weight: 500;
}
.info-time{
	padding-top: 5px;
	margin: 0;
	color: $bg-buttom-color;
}
.info-description{
	padding-top: 20px;
	margin: 0;
}
.info-wrapper{
	display: none;
}

.information-block::before{
	position: absolute;
	content: "";
	width: 16px;
	height: 16px;
	bottom: 0;
	left: 50%;
	margin-left: -8px;
	margin-bottom: -18px;
	background-image: url(../img/information-block/arrow-dark.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	transition: all 1s ease 0s;
}
.information-block:hover:before{
	width: 18px;
	height: 18px;
	margin-left: -8px;
	margin-bottom: -18px;
	background-image: url(../img/information-block/arrow-red.svg);
}
.information-block:last-child::before{
	content: none;
}

.info-title::after{
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 16px;
	height: 16px;
	margin-top: 8px;
	background-image: url(../img/information-block/arrow2-white.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	transition: all 0.9s ease 0s;
}
.info-title.active::after{
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 16px;
	height: 16px;
	background-image: url(../img/information-block/arrow2-white.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	transform: rotate(180deg);
}
.info-description ul li::before{
	content: "-";
}