.main-nav__wrapper{
	display: flex;
	flex-direction: column;
	position: fixed;
	width: 370px;
	top: 0;
	left: 0;
	background-color: #353541;
}
.main-nav__description{
	display: flex;
	flex-direction: column;
	align-content: flex-end;
	padding-left: 30px;
	background-image: linear-gradient(to top, hsl(215, 20%, 12%), hsl(215, 30%, 34%));
}
.description__name{
	font-size: 32px;
	padding-right: 20px;
	line-height: 36px;
	padding-bottom: 10px;
	margin: 150px 0 0 0;
}
.description__profession{
	margin: 0 0 15px 0;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
}
.list__item{
	box-sizing: border-box;
	padding: 15px 30px;
	font-size: 20px;
	height: 60px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.list__item:hover{
	background-image: linear-gradient(to top,hsl(215, 30%, 30%) ,hsl(215, 20%, 12%) );
}

// .list__item:nth-child(2n-1):hover{
// 	background-image: linear-gradient(to top,hsl(215, 30%, 30%) ,hsl(215, 20%, 12%) );
// }
// .list__item:nth-child(2n):hover{
// 	background-image: linear-gradient(to top, hsl(215, 20%, 12%), hsl(215, 30%, 34%));
// }
