.main-nav__wrapper{
	display: flex;
	flex-direction: column;
	position: fixed;
	width: 370px;
	top: 0;
	left: 0;
	background-color: #353541;
}
.main-nav__description{
	display: flex;
	flex-direction: column;
	align-content: flex-end;
	padding-left: 30px;
	background-image: linear-gradient(to top, hsl(240, 11%, 13%), hsl(240, 11%, 20%));
}
.description__name{
	font-size: 30px;
	padding-right: 20px;
	line-height: 36px;
	padding-bottom: 5px;
	margin: 170px 0 0;
}
.description__profession{
	margin: 0 0 20px 0;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
}
.list__item{
	box-sizing: border-box;
	padding: 15px 30px;
	font-size: 20px;
	height: 60px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	&:hover{
		background-image: linear-gradient(to bottom, hsl(240, 11%, 13%), hsl(240, 11%, 20%));
	}
}
.description__img{
	position: absolute;
	border-radius: 50%;
	margin-top: 30px;
	width: 120px;
}