.page-header{
	position: relative;
	display: inline-flex;
	max-width: 370px;
	min-width: 370px;
	background-color: #353541;
	color: white;
	border-right: 1px solid rgba(0, 0, 0, 0.3);
	transition: all 1.5s ease 0s;
}
.page-header.active{
	position: relative;
	max-width: 0px;
	min-width: 0px;
	transition: all 1.5s ease 0s;

}


