.skills{
	background-color: $bg-dark-color;
	color: white;
	width: 100%;
	flex-grow: 1;
}

.skills__wrapper{
	display: flex;
	flex-direction: column;
	padding-top: 25px; 
	padding-bottom: 25px;
}

.skills__item__wrapper{
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;	
	margin-top: 25px;
	justify-content: center;
}
.skills__item{
	box-sizing: border-box;
	width: 33.3%;
	padding-right: 50px;
	padding-bottom: 56px;
}

.slider__name{
	padding: 12px 0;
	white-space: nowrap;
}
.slider__level{
	position: relative;
	width: 90%;

}

.slider__level::before{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 5px;
	background-color: hsl(0, 0%, 70%);
}
.slider__level::after{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: $skills-html;
	height: 5px;
	background-color: $bg-buttom-color;
}
.slider__percent{
	position: absolute;
	top: -14px;
	right: -45px;
}
.slider__percent::after{
	position: absolute;
	content: "90%";
	top: 0;
	right: 0;
}

.skills__html.slider__level::after{
	width: $skills-html;
}
.skills__css.slider__level::after{
	width: $skills-css;
}
.skills__scss.slider__level::after{
	width: $skills-scss;
}
.skills__javascript.slider__level::after{
	width: $skills-javascript;
}
.skills__react.slider__level::after{
	width: $skills-react;
}
.skills__photoshop.slider__level::after{
	width: $skills-photoshop;
}
.skills__jira.slider__level::after{
	width: $skills-jira;
}
.skills__github.slider__level::after{
	width: $skills-github;
}
.skills__testing.slider__level::after{
	width: $skills-testing;
}

.skills__html .slider__percent::after{
	content: $skills-html + "";
}
.skills__css .slider__percent::after{
	content: $skills-css + "";
}
.skills__scss .slider__percent::after{
	content: $skills-scss + "";
}
.skills__javascript .slider__percent::after{
	content: $skills-javascript + "";
}
.skills__react .slider__percent::after{
	content: $skills-react + "";
}
.skills__photoshop .slider__percent::after{
	content: $skills-photoshop + "";
}
.skills__jira .slider__percent::after{
	content: $skills-jira + "";
}
.skills__github .slider__percent::after{
	content: $skills-github + "";
}
.skills__testing .slider__percent::after{
	content: $skills-testing + "";
}